{% extends 'base.html' %}

{% block content %}

<div class="hero-img">
    <p class="slogan">The final frontier</p>
    <form method="POST" action="{{ url_for('index') }}" class="logInForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name ="username" class="form-control" id="username"
          minlength="5" maxlength="20" aria-describedby="emailHelp" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" id="password" 
          minlength="5" maxlength="20" placeholder="Password" required>
        </div>
        <button type="submit button" id="logInButton" onclick="sendApiRequest()">Login!</button>
        <p class="newUser">New User? <a href="{{ url_for ('register') }}">Register Here!</a></p>
      </form>
</div>

<!--MODAL -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Welcome to Spacestgram!<h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>The only place to rate your favourite Nasa images!<br>
          Simply pick a date range when you log in to browse the universes greatest images!</p><br>
          New to spacestagram?  <a href="{{ url_for ('register') }}">Please register Here!</a></p>
          </div>
        </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
</script>


{% endblock %}