{% extends 'base.html' %}

{% block content %}
<div class="hero-img">
    <p class="register">Register here!</p>
    <form method="POST" action="" class="logInForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name ="username" class="form-control" id="username"
          minlength="5" maxlength="20" aria-describedby="emailHelp" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" id="password" 
          minlength="5" maxlength="20" placeholder="Password" required>
        </div>
        <button type="submit button" data-toggle="modal" data-target="#RegisterModal">Register!</button>
      </form>
</div>
{% endblock %}