{% extends 'base.html' %}

{% block content %}
<div class="row container-fluid datePicker">
    <label for="startDate">Start Date:</label>
        <input type="date" id="start" name="start" value="2021-09-10">
    <label for="endDate">End Date:</label>
        <input type="date" id="end" name="end" value="2021-09-16">
  <input type="submit" onclick="sendApiRequest()">
</div>

<div class="boxLoading"></div>

<div id="content" class="row container-fluid m-auto imageRows">
    <!-- API info will be rendered here -->
    
</div>


{% endblock %}

{% block scripts %}
<script>
    $(window).on("load", function(){
        $('.boxLoading').fadeOut("slow");
    })
</script>
{% endblock %}
